@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Source+Serif+Pro:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Anek Telugu', Source Serif Pro, serif, sans-serif;
    font-weight: 300;
    color: #1f1e1e;
    /* margin: 0; */
}

/* Headings and website logo */

h1, h2 {
    font-family: 'Anek Telugu', Source Serif Pro, serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4.2px;
    color: #252525;
}

#logo {
    font-size: 260%;
    float: left;
    margin-left: 15px;
}

/* navigation links menu1 */

#menu1 {
    font-size: 160%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#menu1, #logo {
    line-height: 75px;
}

#menu1 li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}

#menu1 a {
    text-decoration: none;
    color: inherit;
}

#menu1 a:hover {
    border-bottom: 3px solid #252525;
}

.active {
    border-bottom: 3px solid #252525;
}

/* navigation links menu2 */

#menu2 {
    font-size: 160%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#menu2, #logo {
    line-height: 75px;
}

#menu2 li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu2 a {
    text-decoration: none;
    color: inherit;
}

#menu2 a:hover {
    border-bottom: 3px solid #252525;
}

.active {
    border-bottom: 3px solid #252525;
}

/* Hero background image + ethos */

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.hero-image {
    background: url('../images/workout.PNG') no-repeat center center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    filter: brightness(50%);
    background-color: #000000;
    position: relative;
}

.hero-text1, .hero-text1 h2 {
    color: #fff;
}

.hero-text1 > h2 {
    font-size: 230%;
}

.hero-text1 {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
}

.hero-text2 {
    text-align: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.hero-learn-more {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    background: #fff;
    padding: 10px 0px 6px 0px;
    border-radius: 5px;
}

.hero-learn-more:hover {
    background: #1f1e1e;
}

.hero-learn-more a {
    text-decoration: none;
    color: #1f1e1e;
    /* font-size: 1.2em; */
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 10px 25px 6px 25px;
}

.hero-learn-more a:hover {
    text-decoration: none;
    color: #fff;
}

/* footer */

footer {
    height: 100px;
}

.social-networks {
    text-align: center;
    margin: 1%;
    padding: 3% 5%;
}

.social-networks > li {
    display: inline;
    margin: 1%;
    padding: 3% 5%;
}

.social-networks i {
    font-size: 180%;
    color: #3a3a3a;
}

/* Articles */

.container-articles {
    width: 100vw;
    height: 100vh;

    font-family: 'Anek Telugu', Source Serif Pro;
    font-weight: bold;
    font-size: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(2, 1fr);

    gap: 10px;

    padding: 10px;
    box-sizing: border-box;
}

.container-articles div {
    padding: 10px;
    border: 1px solid #000000; /* Displays border lines in case of the need to edit container-articles box sizes */
    text-align: left;
}

div .main-article {
    grid-column-start: 1;
    grid-column-end: 3;
}

div .sub-article-1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

div .sub-article-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

div .sub-article-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.container-articles .main-article-title {
    width: 50%;
    float: left;
    border: 1px solid #000000;
}

.container-articles .main-article-pic {
    width: 50%;
    height: 100%;
    float: right;
    padding-left: 10px;
    border-radius: 5px;
}

/* Gallery pictures */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .gallery-heading {
    margin: 10px;
}

.container .image-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .image-box .columns {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .image-box .columns img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

/* Media queries */

@media screen and (max-width: 769px) {
    .container .image-box {
        flex-direction: column;
    }

    .container .image-box .columns {
        width: 100%;
    }
}