@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Source+Serif+Pro:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Anek Telugu', Source Serif Pro, serif, sans-serif;
    font-weight: 300;
    color: #1f1e1e;
}

/* Headings and website logo */

h1, h2 {
    font-family: 'Anek Telugu', Source Serif Pro, serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4.2px;
    color: #252525;
}

#logo {
    font-size: 260%;
    float: left;
    margin-left: 15px;
}

/* navigation links menu1 */

#menu1 {
    font-size: 160%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#menu1, #logo {
    line-height: 75px;
}

#menu1 li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}

#menu1 a {
    text-decoration: none;
    color: inherit;
}

#menu1 a:hover {
    border-bottom: 1px solid #252525;
}

.active {
    border-bottom: 1px solid #252525;
}

/* navigation links menu2 */

#menu2 {
    font-size: 160%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#menu2, #logo {
    line-height: 75px;
}

#menu2 li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu2 a {
    text-decoration: none;
    color: inherit;
}

#menu2 a:hover {
    border-bottom: 1px solid #252525;
}

.active {
    border-bottom: 1px solid #252525;
}

/* Home background image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/workout.PNG') no-repeat center center;
    background-size: cover;
    background-color: #000000;
    filter: brightness(50%);
}

/* Ethos text 1,2,3 and learn more button */

#ethos-text, #ethos-text h2 {
    color: #fff;
}

#ethos-text > h2 {
    font-size: 190%;
}

#ethos-text {
    font-size: 130%;
    font-family: 'Anek Telugu', Source Serif Pro, serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 630px;
    height: 215px;

    padding-top: 40px;
    padding-right: 500px;

    bottom: 230px;
    right: 150px;

    position: absolute;
    text-align: center;
}

#ethos-text2 {
    color: #fff;
    font-size: 80%;
    font-family: 'Anek Telugu', Source Serif Pro, serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 930px;
    height: 215px;

    padding-top: 40px;
    padding-right: 500px;

    bottom: 85px;
    right: 0px;

    position: absolute;
    text-align: center;
}

.border-line {
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
    
}

#learn-more a {
    color: #fff;
    font-size: 130%;
    font-family: 'Anek Telugu', Source Serif Pro, serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;

    width: 930px;
    height: 215px;

    padding-top: 40px;
    padding-right: 500px;

    bottom: 25px;
    right: 0px;

    position: absolute;
    text-align: center;
}